.container2 {
 
    width:754px;
    height:884px;
    margin:auto;
    position:relative;
    top:10px;
    background-color:#fffcb0;
    overflow:hidden;
    
  
}

.info2 {
    background-color:rgba(255, 144, 203, 0.87);
    width:460px;
    margin:auto;
    padding-top:27px;
    padding-bottom:10px;
    position:absolute;
    top:269px;
    left:147px;
    text-align:center;
    font-family:monospace;
    border:solid 3px #85cb88;
    line-height: 20px;
    font-size:14px;
    
}

.celebratingwithus {
    color:#0d6f55;
    font-weight:bold;
    font-size:23px;
    font-family: cursive
    
}

.addtocalander {
    background-color: antiquewhite;
    padding:6px;
    font-family:serif;
    border:solid;
}

.meandpapi2013 {
    position:absolute;
}

.meinelementarysilly {
    position:absolute;
    left:230px;
    top:1px;
}

.eighthgradegrad {
    position:absolute;
    left:405px;
    top:1px;
}

.blackandredhair {
    position:absolute;
    left:576px;
    top:1px;
}
.meinpho75{
    position:absolute;
    top:173px;
    left:1px;
}

.meandantoniosilly {
    position:absolute;
    left:166px;
    top:177px;
}

.meinelemtryviolin {
    position:absolute;
    left:333px;
    top:197px;
}

.littlemeinapinkdress {
    position:absolute;
    top:198px;
    left:481px;
    
}

.meandmyfriends {
    position:absolute;
    top:236px;
    left:605px;
}

.meandmyeagles {
    position:absolute;
    top:395px;
}

.meandestebanatquince {
    position:absolute;
    top:392px;
    left:201px;
}

.meandmama {
    position:absolute;
    top:593px;
    left:1px;
}

.meatwalmart {
    position:absolute;
    top:400px;
    left:400px;
}

.meinquarshorthair {
    position:absolute;
    top:657px;
    left:201px;
}

.youngacademicme {
    position:absolute;
    top:651px;
    left:401px;
}

.freshmanday {
    position: absolute;
    top:674px;
    left:574px;
}

.favgradpic {
    position:absolute;
    top:728px;
    left:1px;
}

.violinseniorwinter {
    position:absolute;
    top:485px;
    left:600px;
}


.meandsamsenioryear {
    position:absolute;
    top:384px;
    left:598px;
    
}

